[Unit]
Description=Equestria OS First Boot Keyring Initialization
After=local-fs.target systemd-random-seed.service
ConditionPathExists=!/var/lib/equestria-keyring-done

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/rm -rf /etc/pacman.d/gnupg
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate archlinux equestria-os
ExecStartPost=/bin/touch /var/lib/equestria-keyring-done
ExecStartPost=/usr/bin/systemctl disable equestria-keyring-init.service

[Install]
WantedBy=multi-user.target
