[Unit]
Description=Equestria OS First Boot Keyring Initialization
After=local-fs.target systemd-random-seed.service
Before=sddm.service
ConditionPathExists=!/var/lib/equestria-keyring-done

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate archlinux
ExecStart=-/usr/bin/pacman-key --populate equestria-os
ExecStartPost=/bin/touch /var/lib/equestria-keyring-done

[Install]
WantedBy=multi-user.target
