LABEL arch
TEXT HELP
Boot the Equestria OS on BIOS.
An Arch-based Linux distribution.
ENDTEXT
MENU LABEL Equestria OS (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
APPEND console=tty0 console=ttyS0 archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the Equestria OS on BIOS with speakup screen reader.
An Arch-based Linux distribution.with speech feedback.
ENDTEXT
MENU LABEL Equestria OS (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
APPEND console=tty0 console=ttyS0 archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
